.Chat--sider
  .Side--header
    .Side--header__name
      shida
    .Side--header__menu
      =link_to "#", class: "Side--header__menu__btn--group" do
        = fa_icon 'edit', class: "Side--header__menu__btn--icon"
      =link_to "#", class: "Side--header__menu__btn--group" do
        = fa_icon 'cog', class: "Side--header__menu__btn--icon"
  .Groups
    .Group
      .Group__name
        野球
      .Group__last
        野球やろう
    .Group
      .Group__name
        野球
      .Group__last
        野球やろう