.Chat--main{
  padding-left: 300px;
  .Main--header{
    background-color: $white;
    width: calc(100vw - 380px);
    height: 100px;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    &__left--box{
      color: #333333;
      font-size: 20px;
      float: left;
      padding-top: 35px;
    }
    &__edit{
      color: #333333;
      float: right;
      margin-top: 28px;
      height: 40px;
      border: 1px solid $light_blue;
      color: $light_blue;
      width: 104px;
      text-align: center;
      line-height: 40px;
      }
    &__member--box{
      clear: both;
      height: 27px;
      padding-top: 15px;
      &__name{
        font-size: 12px;
        color: #999999;
      }
    }
  }
  .Message{
    background-color: #eeeeee;
    width: calc(100vw - 300px);
    height: 700px;
    padding-top: 100px;
    &__box{
      overflow: hidden;
      padding-top: 46px;
      padding-left: 40px;
      &__name{
        display: inline-block;
        font-size: $side_header_font;
        font-weight: bold;
      }
      &__date{
        display: inline-block;
        font-size: 12px;
        color: #999999;
        padding-left: 10px;
      }
      &__message{
        font-size: 14px;
        padding-top: 10px;
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    position: fixed;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: white;
      float: right;
      font-size: $side_header_font;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}